﻿@model SI_Propostas_Frontend.Models.Proposta

@{
    ViewBag.Title = "Eliminar proposta";
}

<h2>Eliminar proposta</h2>

<h3>Tem a certeza que pretende eliminar a proposta?</h3>
<div>
    <h4>Proposta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Submissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Objectivos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Objectivos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à lista de propostas", "Index")
        </div>
    }
</div>
