﻿@model SI_Propostas_Frontend.Models.Proposta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Proposta</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Submissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Submissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Objectivos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Objectivos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
