﻿@model SI_Propostas_Frontend.Models.Proposta

@{
    ViewBag.Title = "Editar proposta";
}

<h2>Editar proposta</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Proposta</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Submissao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Submissao)
                @Html.ValidationMessageFor(model => model.Submissao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Titulo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titulo)
                @Html.ValidationMessageFor(model => model.Titulo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Designacao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Designacao)
                @Html.ValidationMessageFor(model => model.Designacao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Objectivos, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Objectivos)
                @Html.ValidationMessageFor(model => model.Objectivos)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Periodo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Periodo)
                @Html.ValidationMessageFor(model => model.Periodo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar à lista de propostas", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
